<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
</head>
<body class="single-page">
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <h3>Patient Details</h3>
                        </div><!-- .site-branding -->
                       
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

        <img class="header-img" src="images/contact-bg.png" alt="">
    </header><!-- .site-header -->

    <div class="contact-page-short-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="images/team-1.jpg" width="50%" height="50%" alt="">
                    <div class="contact-info h-100">
                        <h2 class="d-flex align-items-center">Personal Details</h2>
                        <ul class="p-0 m-0">
                            <li><b></b>Name : </b> User Name</li>
                            <li><b></b>Diagnosis : </b> Diseases Name</li>
                            <li><b></b>Occupation : </b> Student</li>
                            <li><b></b>Ward : </b> ICU</li>
                            <li><b></b>Bed No. : </b> 08</li>
                            <li><b></b>Phone : </b> +91-7223033424</li>
                            <li><b></b>Email : </b> yourmail@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-boxes">
        <div class="container">
            <br><br><br>
            <h3>Saline Level of Patient</h3>
            <iframe width="100%" height="300" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/963282/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=50&type=line&update=15">
            </iframe>
            <br>
            <h3>Drip rate of Saline</h3>
            <iframe width="100%" height="300" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/963282/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=50&type=line&update=15">
            </iframe>
       
    <button onclick="func()">Click</button>
    </div>
    <p>The Amount of saline left is <span id="amt"></span> L</p>
</div>
    

    <script>
        var i=1;
        var j=1;

        function func()
        {var value;
         
         fetch('https://api.thingspeak.com/channels/963282/fields/1.json?results=2')
         .then(res => res.json())
         .then((out) => {
         
          value = out.feeds[i].field1;
          console.log(value);
          var amtleft=value/0.52;
          var percent=amtleft*100;
          document.getElementById("amt").value=amtleft;
          setTimeout(func(),1000);
          console.log('Output: ', out);
         }).catch(err => console.error(err));
         }

         
        function func2()
        {var value2;
        
         fetch('https://api.thingspeak.com/channels/963282/fields/2.json?results=2')
         .then(res2 => res2.json())
         .then((out2) => {
         
          value2 = out.feeds[j].field1;
          console.log(value2);
          var volumerate=value*0.00005;
          var time=0.52/volumerate;
          
          setTimeout(func2(),1000);
          console.log('Output: ', out2);
         }).catch(err => console.error(err2));
         }
       
        
         
   
   </script>

     <footer class="site-footer">
        
    </footer><!-- .site-footer -->
    <script type='text/javascript' src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
</body>

   
 
</html>